@import "import/variables";

@import "grid/bootstrap";
@import "grid/bootstrap-theme";
@import "owl.carousel";
@import "owl.theme.default";
@import url('https://fonts.googleapis.com/css?family=Sedgwick+Ave+Display');
@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Chewy');
@import url('https://fonts.googleapis.com/css?family=Yeseva+One');

@font-face {
  font-family: AgencyFB;
  src: url(../fonts/AgencyFB-Bold.eot);
  src: url(../fonts/AgencyFB-Bold.eot) format('embedded-opentype'), 
  url(../fonts/AgencyFB-Bold.woff2) format('woff2'), 
  url(../fonts/AgencyFB-Bold.woff) format('woff'), 	
  url(../fonts/AgencyFB-Bold.ttf) format('truetype'), 
}

body {
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $fnorm;
  line-height: $base-line-height;
  min-width: 320px;
  transition: $base-transition;
  color: $base-font-color;
  background-color: $base-background-color;
  -webkit-font-smoothing: antialiased;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}
p,
pre {
  margin: 0 0 $small-spacing;
}
a {
  transition: $base-transition;
  text-decoration: none;
  color: $action-color;
  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 15%);
    text-decoration: none;
  }
  &:active,
  &:focus {
    outline: none;
  }
}
button {
	cursor: pointer;
	transition:.3s all ease-out;
	&:focus {
		outline: none;
	}
}
hr {
  margin: $base-spacing 0;
  border-top: none;
  border-right: none;
  border-bottom: $base-border;
  border-left: none;
}
img,
picture {
  max-width: 100%;
  margin: 0;
}
.wrapper {
  position: relative;
  width: 100%;
  height: auto !important;
  height: 100%;
  min-height: 100%;
  margin: 0 auto;

  @extend .clearfix;
}
.container {
  position: relative;
  max-width: $width;
}

header {
  background-color: $gray-light;
  .header--logo {
    display: block;
    img {
      max-width: 100%;
    }
  }
}

article {
  @extend .clearfix;
}
.looper {
  @extend .clearfix;
}

//Page styles
.header__position--wrap {
	position: absolute;
	z-index: 50;
	width: 100%;
	top:0;
	padding-top: 10px;
	transition:.5s all ease-out;
		.header--logo {
			a {
				display: flex;
				justify-content:center;
				align-items:center;
			    width: 100px;
			    margin: 0 auto;
			    position: relative;
			    transition:.5s all ease-out;
			    border-radius: 50%;
			    background-position: center;
			    background-size: cover;

			    svg {
				 	transition:.3s all ease-out;
				 }
				 &:hover {
				 	background-image: url(../img/captain_shield.jpg);
				 	svg {
				 		opacity:0;
				 	}
				 }
			    p {
			    	position: absolute;
				    font-size: 18px;
				    text-transform: uppercase;
				    text-align: center;
				    color: #fff;
				    font-weight: bold;
				    transition:.5s all ease-out;
			    }
				svg {
				width: 100%;
			    height: 100%;
			    margin: auto;
			    fill: #EF4135;
			    fill-opacity: 1;
			    stroke: rgba(239, 65, 53, 1);
				}
			}
		}
		.header_info {
			display: flex;
    		justify-content: space-evenly;
    		align-items:center;
    		color: rgba(255,255,255,.7);
    		font-family: AgencyFB;
    		height: 45px;
    		position: relative;
    		&:before {
    					display: block;
    					font-family: fontAwesome;
    					content:'\f095';
    					position: absolute;
    					left: 0;
    					top:8px;
    					color:#ef4135;
    					font-size: 24px;
    				}
    		.header_phones {
    			font-size: 22px;
    			text-align: center;
    			font-family: AgencyFB;
    			height: 25px;
    			overflow: hidden;
    			position: relative;
    			padding-right: 30px;
    			.open--phones{
    				position: absolute;
    				top: 0;
    				right: 5px;
    				cursor: pointer;
    				padding: 0 5px;
    				i {
    					color:#ef4135;
    				}
    			}
    			a {
    				display: block;
    				font-size: 22px;
    				color: #fff;
    				font-weight: normal;
    				letter-spacing: -1px;
    				transition:.3s all ease-out;
    			}
    		}
    		.open__header--phones {
    			overflow: visible;
    			.open--phones {
    				i {
    				color:#fff;
    				}
    			}
    			a {
    				color:#ef4135;
    			}
    		}
		}
		nav {
			  ul {
			  	margin: 0;
			  	padding-left: 0;
			    @extend .clearfix;
			    display: -webkit-flex;
			    display: -moz-flex;
			    display: -ms-flex;
			    display: -o-flex;
			    display: flex;
			    justify-content: center;
			    li {
			      list-style-type: none;
			      transition:.4s all ease-out;
			      a {
			      	padding: 10px 20px;
			      	display: block;
			      	 color: #fff;
			      	 font-size: 20px;
			      	 text-transform: capitalize;
			      	 font-weight: bold;
			      	 &:focus {
						text-decoration: none;
					}
			      }
			      &:hover {
			      	        background: rgba(51, 51, 51, 0.6);
			      	    a {
			      	    	color: #ef4135;
			      	    }
			      }
			    }
			  }
			}
}
.header-fixed {
	position: fixed;
	top:0;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	height: 60px;
	.header--logo {
		.order--online {
		width: 85px;
		height: 85px;
		 p {
		 	font-size: 16px;
		 }
		}
	}
}
/*
.load__screen--wrapp {
	background-color: #00aeee;
	height: 100vh;
	width: 100%;
	position: fixed;
	top:0;
	left: 0;
	z-index:100;
	overflow: hidden;
	.load__content--wrap {
		display: flex;
	    align-items: center;
	    justify-content: center;
	    flex-wrap: wrap;
	    height: 100%;
	    .load__text--wrap {
	    	background-color: transparent;
	    	overflow: visible;
		    width: 100%;
	    	text-align: center;
	    	color:#fff;
	    	position: relative;
	    	display: flex;
    		flex-wrap: wrap;
	    	h4 {
	    		width: 100%;
	    		font-size: 10em;
	    		margin-bottom: 0;
	    		font-family: 'Chewy', cursive;
	    	}
	    	span {
	    		width: 100%;
	    		padding-left: 20%;
	    		font-size: 3em;
	    		font-family: 'Monoton', cursive;
	    	}
	    }
		div {
			position: relative;
			display: -webkit-flex;
			display: -moz-flex;
			display: -ms-flex;
			display: -o-flex;
			display: flex;
			justify-content: flex-start;
			width: 200px;
			height: 200px;
			overflow: hidden;
			background-color: #FFF;
			img {
				max-width: 150px;
				bottom:0;
			}
		}
		.superman {
			align-items:flex-start;
			position: fixed;
			left: 0;
			top:0;
			border-radius:0 0 100% 0;
			img {
				border-radius:50%;
				padding: 5px;
			}
		}
		.deadpool {
			align-items:flex-start;
			justify-content: flex-end;
			position: fixed;
			right: 0;
			top:0;
			border-radius:0 0 0 100% ;
		}
		.capitan {
			align-items:flex-end;
			justify-content: flex-end;
			border-radius:100% 0 0 0;
			position: fixed;
			right: 0;
			bottom:0;
		}
		.batman {
			align-items:flex-end;
			border-radius: 0 100% 0 0;
			position: fixed;
			left: 0;
			bottom:0;
		}
	}
}
*/
.first__block--wrap {
	height: 100vh;
	background-image: url(../img/first_bg.jpeg);
	background-size: cover;
	background-attachment:fixed;
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
	color:#fff;
	h1, h4 {
		font-size: 57px;
	    line-height: 67px;
	    font-weight: 700;
	    padding-bottom: 10px;
	    position: relative;
	    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	    span {
	    	font-style: italic;
	    }
	    &:after {
	    	display: block;
	    	content: "";
		    position: absolute;
		    left: 50%;
		    bottom: 0;
		    width: 40%;
		    height: 1px;
		    margin-left: -20%;
		    background-color: #ff9100;
	    }
	}
	p {
		font-size: 30px;
	    line-height: 40px;
	    padding: 5px 0;
	    font-weight: 300;
	    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
	}
	.to_second {
		position: relative;
	    display: inline-block;
	    font-size: 13px;
	    font-weight: bold;
	    line-height: 24px;
	    padding: 12px 35px;
	    color: #fff;
	    background-color: #ff9100;
	    border:1px solid #ff9100;
	    text-transform: uppercase;
	    -webkit-border-radius: 3px;
	    -moz-border-radius: 3px;
	    -o-border-radius: 3px;
	    border-radius: 3px;
	    -webkit-transition: all 0.3s;
	    -moz-transition: all 0.3s;
	    -ms-transition: all 0.3s;
	    -o-transition: all 0.3s;
	    transition: all 0.3s;
	    &:hover {
	    	background-color: transparent;
	    	color:#ff9100;
	    }
	}
}

.second__about--block {
	height: 400px;
	display: flex;
	.left-side {
		height: 100%;
		width: calc(64.9851% - ( 0.35014878241332 * 30px ) );
		background-color: #333;
		color:#fff;
		padding: 30px;
		background-image: url(../img/chef-white.png);
		background-repeat: no-repeat;
	    background-size: 120px;
	    background-position: 2% 95%;
		.left-container {
			width: 100%;
			h4 {
				text-align: center;
			    margin-bottom: 50px;
			    position: relative;
			    font-size: 32px;
			    font-weight: 600;
			    line-height: normal;
			    text-transform: uppercase;
			    padding-bottom: 10px;
			    &:after {
			    	display: block;
			    	content: "";
				    position: absolute;
				    left: 50%;
				    bottom: 0;
				    width: 50px;
				    height: 1px;
				    margin-left: -25px;
				    background-color: #ff9100;
			    }
			}
			p {
				font-size: 14px;
				line-height: 1.5;
				margin-bottom: 50px;
			}
			.to_specials {
				position: relative;
			    display: block;
			    font-size: 14px;
			    font-weight: bold;
			    line-height: 24px;
			    padding: 12px 35px;
			    color: #fff;
			    margin: 0 auto;
			    max-width: 180px;
			    text-align: center;
			    background-color: transparent;
			    border:1px solid #ff9100;
			    text-transform: uppercase;
			    -webkit-border-radius: 3px;
			    -moz-border-radius: 3px;
			    -o-border-radius: 3px;
			    border-radius: 3px;
			    -webkit-transition: all 0.3s;
			    -moz-transition: all 0.3s;
			    -ms-transition: all 0.3s;
			    -o-transition: all 0.3s;
			    transition: all 0.3s;
			    &:hover {
			    	background-color: #ff9100;
			    }
					}
		}
	}
	.right-side {
		height: 100%;
		background-color: #ff9100;
    	padding: 15px;
    	width: 36%;
		.right--wrap {
			height: 100%;
			background-image: url(../img/food__yellow--bg.png);
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}
	}
}



.slider_wraper {
	height: 100vh;
	position: relative;
	.owl-carousel {
		height: 100%;
		.owl-item {
			position: relative;
			&:before {
			display: block;
			content:'';
			background-color: rgba(0, 0, 0, 0.7);
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 2;
		}
		}
		div {
			height: 100%;
		}
			.slider__text--wrap {
				height: auto;
				width: 50%;
		    	padding: 15px;
				position: absolute;
				bottom:20%;
				left: 20%;
				color:#fff;
				z-index: 5;
				box-shadow: 0 0 2px 0 #fff;
			h4 {
				font-size: 22px;
				text-indent: 10px;
			}
			.slider_link {
				display: block;
				padding: 10px 20px;
				background: rgba(233, 7, 7, 0.6);
				color:#fff;
				max-width: 130px;
    			text-align: center;
    			float: right;
    			margin-top: 10px;
    			transition:.1s all ease-out;
				&:hover {
					background: #ef4135;
				}
				&:focus {
					text-decoration: none;
				}
			}
		}
	}
}

.services__underslider--block {
	height: 100vh;
	overflow: hidden;
	background-image: url(../img/slide_3.jpg);
	background-size: cover;
	background-position: center;
	position: relative;
	background-attachment: fixed;
	&:before {
		display: block;
		content:'';
		background-color: rgba(0, 0, 0, 0.6);
		position: absolute;
		top:0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	.container {
		height: 100%;
		.row {
			height: 100%;
			display: flex;
			align-items:center;
		}
	}
	.services_wrap {
		.services__img--wrap {
			width: 105px;
		    height: 105px;
		    border-radius: 50%;
		    border: 2px solid rgba(255, 255, 255, 0.2);
		    margin: 0 auto;
		    margin-bottom: 25px;
			display: flex;
		    align-items: center;
		    justify-content: center;
		}
		h4 {
			text-align: center;
			font-size: 40px;
			font-style: italic;
			color:#fff;
		}
		p {
			font-size: 16px;
			line-height: 1.3;
			color: rgba(255, 255, 255, 0.7);
			text-align: center;
		}
	}
}

.product__toservice--block {
	background-image: url(../img/product-bg.jpeg);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment:fixed;
	position: relative;
	&:before {
		display: block;
		content:'';
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);
    	position: absolute;
	}
	.container {
		padding: 50px 15px;
		.col-md-12 {
			padding-top: 50px;
			background-color: rgba(0, 0, 0, 0.8);
			h4 {
				text-align: center;
			    margin-bottom: 20px;
			    position: relative;
			    font-size: 32px;
			    font-weight: 600;
			    line-height: normal;
			    text-transform: uppercase;
			    padding-bottom: 10px;
			    color:#fff;
			    &:after {
			    	display: block;
			    	content: "";
				    position: absolute;
				    left: 50%;
				    bottom: 0;
				    width: 100px;
				    height: 1px;
				    margin-left: -50px;
				    background-color: #ff9100;
			    }
			}
		}
	}
	
	.tabs {
		padding-left: 0;
		margin: 0;
		.tab_item {
			list-style-type: none;
			display: inline-block;
			cursor: pointer;
			padding: 15px 30px;
			color:#fff;
			border: 1px solid #8c9f3f;
			position: relative;
			text-transform: uppercase;
		}
		.current {
			color: #fff;
			background:#8c9f3f;
		}
	}
	.tab__content--wrap {
		padding-top: 25px;
		.tab_content_item {
			.col-md-4 {
				margin-bottom: 20px;
				.product-info {
					padding: 15px;
					.product_title {
						text-align: left;
						font-size: 20px;
						&:after {
							margin-left: 0;
							left: 0;
						}
					}
					.description__block {
						color: #808080;
						font-size: 15px;
						margin-bottom: 30px;
						.product_description {
							height: 50px;
							overflow:hidden;
						}
					}
					.price {
						font-size: 24px;
						color:#fff;
						margin-bottom: 15px;
					}
					.add_to--cart {
						    border: 1px solid #8c9f3f;
						    background-color: transparent;
						    color: #8c9f3f;
						    font-size: 16px;
						    line-height: 20px;
						    width: 100%;
						    text-align: center;
						    padding: 10px 30px;
						    border-radius: 3px;
						    &:hover {
						    	background-color: #8c9f3f;
						    	color:#fff;
						    }
					}
				}
				&:hover {
					    .product__block--wrapper {
					    	box-shadow: 0 0 30px rgba(255, 255, 255, 0.2);
					    }
					.product-info {
						h4 {
							a {
								color:#8c9f3f;
							}
						}
					}
				}
			}
		}
	}
}

.modal__button--block {
	    background: #333;
	    position: relative;
	    z-index: 5;
	.modal_wrap {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: space-between;
		align-items:center;
		padding: 40px 0;
		p {
			width: 75%;
			color:#fff;
			line-height: 1.4;
		}
		.open__modal--recall {
			padding: 15px 30px;
			background: transparent;
			border:1px solid #ff9100;
			color:#fff;
			border-radius: 3px;
			&:hover {
				background: #ff9100;
			}
		}
	}
}


//MODALS
.modal_recall {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	top:0;
	left: 0;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	.modal__recall--wrap {
		display: flex;
		align-items:center;
		justify-content:center;
		height: 100%;
		form {
		    width: 40%;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    background:#333;
		    position: relative;
		    padding-bottom: 25px;
		    h4 {
		    	font-size: 24px;
		    	margin-bottom: 20px;
		    	color:#fff;
		    	padding: 15px;
		    	text-align: center;
		    	width: 100%;
		    	background-color: #ff9100;
		    }
		    input {
		    	width: 50%;
		    	margin-bottom: 15px;
		    	padding: 5px;
		    	transition:.3s all ease-out;
		    	&:focus {
		    		outline-color: #ff9100;
		    	}
		    }
		    .close__modal--recall {
		    	position: absolute;
		    	top:-15px;
		    	right: -15px;
    			font-size: 22px;
    			color:#fff;
    			width: 30px;
    			height: 30px;
    			background-color: #333;
    			border-radius:4px;
    			display: flex;
    			justify-content: center;
    			align-items: center;
    			transition:.3s all ease-out;
    			&:hover {
    				background-color: #ff9100;
    			}
		    }
		    .submit {
		    	padding: 12px 30px;
		    	background: transparent;
   				border: 1px solid #ff9100;
		    	color: #fff;
    			transition:.3s all ease-out;
    			&:hover {
    				background: #ff9100;
    			}

		    }
	}
	}
	
}

.modal_second {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #000;
	top:0;
	left: 0;
	z-index: 20;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	.modal__second--wrap {
		display: flex;
		align-items:center;
		justify-content:center;
		height: 100%;
		form {
		    width: 40%;
		    padding: 15px;
		    display: flex;
		    flex-direction: column;
		    align-items: center;
		    background: rgba(255, 255, 255, 0.8);
		    position: relative;
		    h4 {
		    	font-size: 18px;
		    	margin-bottom: 20px;
		    }
		    input {
		    	width: 50%;
		    	margin-bottom: 15px;
		    	padding: 5px;
		    	transition:.3s all ease-out;
		    	&:focus {
		    		outline-color: #8c9f3f;
		    	}
		    }
		    .close__modal--second {
		    	position: absolute;
		    	right: 0;
		    	top:0;
		    	right: 3px;
    			top: 0;
    			font-size: 22px;
    			color:#8c9f3f;
    			&:hover {
    				color: darken(#8c9f3f, 10%);
    			}
		    }
		    .submit {
		    	padding: 10px 20px;
		    	background: #8c9f3f;
		    	color: #fff;
    			border: 0;
    			&:hover {
    				background: darken(#8c9f3f, 10%);
    			}

		    }
	}
	}	
}

.coffee_delivery {
	background-color:#333;
	position: relative;
	background-image: url(../img/cofee_bg.png);
	background-repeat: no-repeat;
	background-position: right bottom;
	background-size: 30%;
	.col-md-6 {
		padding: 50px 15px;
		h4 {
			    margin-bottom: 20px;
			    position: relative;
			    font-size: 26px;
			    font-weight: 600;
			    line-height: normal;
			    text-transform: uppercase;
			    padding-bottom: 10px;
			    color:#fff;
			    &:after {
			    	display: block;
			    	content: "";
				    position: absolute;
				    left: 0;
				    bottom: 0;
				    width: 100px;
				    height: 1px;
				    background-color: #ff9100;
			    }
			}
		p {
			line-height: 1.3;
			color:#fff;
		}
		form {
			display: flex;
			flex-direction:column;
			align-items:flex-end;;
			input {
				margin-bottom: 15px;
				padding: 10px;
				width: 80%;
				border-radius: 2px;
				border: 0;
    			box-shadow: 0 0 1px 1px #fff;
    			background: transparent;
    			color:#fff;
    			&:focus {
		    		outline-color: #fff;
		    		background: rgba(0, 0, 0, 0.5);
		    	}
			}
			textarea {
				margin-bottom: 15px;
				padding: 10px;
				width: 80%;
				border-radius: 2px;
				border: 0;
    			box-shadow: 0 0 1px 1px #fff;
    			background: transparent;
    			color:#fff;
    			&:focus {
		    		outline-color: #fff;
		    		background: rgba(0, 0, 0, 0.5);
		    	}
			}
			.submit {
				padding: 12px 35px;
				background: transparent;
				border: 1px solid #ff9100;
				color:#fff;
				border-radius: 2px;
				&:hover {
    				background: #ff9100;
    			}
			}
		}
	}
}

.news_block {
	padding: 25px 0 50px 0;
	position: relative;
	background: #fff url(../img/form_bg.png) repeat;
	z-index: 10;
	&:after {
		    display: block;
		    content: '';
		    position: absolute;
		    bottom: -5px;
		    left: 0;
		    width: 100%;
		    height: 5px;
		    background: url(../img/contact-pattern.png) repeat-x;
		    z-index: 5
			}
	.news_title {
		font-size: 20px;
    	margin: 20px 0;
    	&:after {
    		display: block;
    		content:'';
    		height: 2px;
    		background-color: #000;
    		width: 20%;
    	}
	}
	.col-md-4 {
		&:hover {
			.news__item--wrap {
				box-shadow: 0 0 30px rgba(0,0,0,.2);
				.post__thumb--wrap {
					img {
					-moz-transform: scale(1.1);
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
					}
				}
				.post__descr--wrap {
					transform: translateY(-40px);
				}
			}
		}
	}
	.news__item--wrap {
		position: relative;
		overflow: hidden;
		display: block;
		.post__thumb--wrap {
			img {
				transition:.3s all ease-out;
			}
		}
		.post__descr--wrap {
			position: absolute;
			bottom:-40px;
			width: 100%;
			padding: 10px;
   			background: rgba(255, 255, 255, 0.7);
   			transition:.3s all ease-out;
   			a {
   				color:#000;
   			}
   			p {
   				font-size: 14px;
   				line-height: 1.3;
   			}
   			.to_article {
   				padding: 5px 10px;
			    background: transparent;
			    border: 1px solid #000;
			    float: right;
			    font-size: 15px;
   			}
		}
	}
}

.map_block {
	position: relative;
	display: flex;
    justify-content: center;
    height: 450px;
    &:hover {
    	&:before {
    		z-index: 0;
    		opacity:0;
    	}
    }
    &:before {
    	display: block;
    	content:'';
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	left: 0;
    	top:0;
    	background-color: rgba(0, 0, 0, .6);
    	z-index: 2;
    	transition:.3s all ease-out;
    }
	iframe {
		position:absolute;
        width: 100%;
        height: 100%;
        max-height: 100%;
        z-index: 1;
	}
	.contact_card {
          max-width: 475px;
          width: 100%;
          height: 220px;
          background-color: #000;
          color: #fff;
          display: -webkit-flex;
          display: -moz-flex;
          display: -ms-flex;
          display: -o-flex;
          display: flex;
          margin: 0 auto;
          position: relative;
          z-index:4;
          background: radial-gradient(circle at 90px 85px, rgba(0, 0, 0, 0) 65px, #000000 67px);
          transition:.3s all ease-out;
          a {
            color:#fff;
          }
          .card-left {
            max-width:185px;
            width: 50%;
            display: flex;
            flex-direction:column;
            justify-content: flex-end;
            text-align: center;
            align-items:center;
            padding-bottom: 15px;
            padding-left: 10px;
            p {
              line-height: 1.4;
              font-size: 14px;
              margin-bottom: 0;
              transition:.3s all ease-out;
            }
            .paragraph--hidden {
                opacity:0;
              }
          }
          .card-right {
            padding-top: 40px;
            width: 60%;
            p {
              font-size: 16px;
              width: 90px;
              font-style: italic;
              color: #ccc;
              display: inline-block;
            }
            a {
              display: inline-block;
            }
            .card_phone {
              a {
                font-size: 18px;
              }
            }
            .card_social {
              a {
                padding-right: 5px;
              }
            }
            .contacts__buttons--wrap {
              position: absolute;
              bottom:10px;
              right: 0;
              display: flex;
              justify-content: space-evenly;
              max-width: 290px;
              width: auto;
              padding: 0 15px;
              align-items:center;
              cursor:pointer;
              span {
                display: block;
                width: 35px;
                height: 35px;
                border:2px solid #fff;
                cursor:pointer;
                border-radius: 50%;
                display: -webkit-flex;
                display: -moz-flex;
                display: -ms-flex;
                display: -o-flex;
                display: flex;
                align-items:center;
                justify-content:center;
                margin-bottom: 5px;
                &:before {
                  display: block;
                  font-family: FontAwesome;
                  content:'\f077';
                  margin-bottom: 2px;
                  transition:.3s all ease-out;
                }
              }
            }
          }
        }
        .contact--hidden {
          transform:translateY(-155px);
          .card-right {
            .contacts__buttons--wrap {
              span {
                &:before {
                  content:'\f078';
                }
              }
            }
          }
        }
}
footer {
  background-color: #333;
  padding-top: 25px;
  			.footer_adress {
    			margin-bottom: 20px;
    			.adress_paragraph {
    				display: block;
    				position: relative;
    				color:#fff;
    				&:before {
    					display: block;
    					font-family: fontAwesome;
    					content:'\f041';
    					position: absolute;
    					left: -25px;
    					color:#a5a5a5;
    					font-size: 20px;
    				}
    			}
    			p {
    				margin-bottom: 15px;
    				color:#a5a5a5;
    			}
    			.work_time {
    					color: #ef4135;
    					display: block;
    					position: relative;
    					&:before {
	    					display: block;
	    					font-family: fontAwesome;
	    					content:'\f017';
	    					position: absolute;
	    					left: -25px;
	    					color:#a5a5a5;
	    					font-size: 20px;
	    				}
    					span {
    						color:#fff;
    					}
    				}
    		}
    		.footer_phones {
    			margin-bottom: 15px;
    			p {
    				color:#a5a5a5;
    			}
    			.phones_list {
    				padding: 0;
    				margin: 0;
    			}
    			a {
    				display: block;
    				position: relative;
    				color:#fff;
    				transition:.3s all ease-out;
    				font-size: 18px;
    				padding: 2px;
    				&:before {
    					display: block;
    					font-family: fontAwesome;
    					content:'\f095';
    					position: absolute;
    					left: -25px;
    					top:0;
    					color:#a5a5a5;
    					font-size: 20px;
    				}
    				&:hover {
    					color:#ef4135;
    				}
    			}
    		}
    		.footer_email {
    			p {
    				color:#a5a5a5;
    			}
    			a {
    				color:#fff;
    				display: block;
    				position: relative;
    				transition:.3s all ease-out;
    				&:hover {
    					color:#ef4135;
    				}
    				&:before {
    					display: block;
    					font-family: fontAwesome;
    					content:'\f003';
    					position: absolute;
    					left: -25px;
    					color:#a5a5a5;
    					font-size: 20px;
    				}
    			}
    		}
    		.footnav_title {
    				padding-left: 20%;
    				color:#a5a5a5;
    				margin-bottom: 15px;
    				font-size: 18px;
    			}
    		.footnav {
    			margin: 0;
    			padding-left: 25%;
    			li {
    				padding: 3px;
    				display: block;
    				position: relative;
    				&:before {
    					display: block;
    					font-family: fontAwesome;
    					content:'\f0a4';
    					position: absolute;
    					left: -20px;
    					color: #fff;
    					transition:.3s all ease-out;
    				}
    				&:hover {
    					&:before {
    						color:#ff9100;
    					}
    					a {
							color:#a5a5a5;
	    					&:before {
			                  visibility: visible;
			                  transform: scaleX(1);
			                }
    					}
    				}
    			}
    			a {
    				color:#fff;
    				transition:.3s all ease-out;
    				display: block;
    				position: relative;
    				padding-bottom: 5px;
    				&:before {
	                display: block;
	                content:'';
	                position: absolute;
	                width: 55%;
	                height: 1px;
	                bottom: 0;
	                left: 0;
	                background-color: #a5a5a5;
	                transition: all 0.3s ease-in-out 0s;
	                visibility: hidden;	
	                -webkit-transform: scaleX(0);
                        transform: scaleX(0);
                        -webkit-transform-origin: 0 50%;
                        transform-origin: 0 50%;
                        -webkit-transition-property: transform;
                        transition-property: transform;
                        -webkit-transition-duration: 0.3s;
                        transition-duration: 0.3s;
                        -webkit-transition-timing-function: ease-out;
                        transition-timing-function: ease-out;
	              }
    			}
    		}
    		.search_wrap {
    			margin-bottom: 25px;
    			text-align: center;
    			p {
    				font-size: 18px;
    				color:#a5a5a5;
    				text-align: left;
    				padding-left: 10%;
    			}
    			.search_input {
	    			background: transparent;
				    padding: 7px 5px;
				    width: 60%;
				    border:1px solid #ff9100;
				    color:#fff;
				    border-radius:2px 0 0 2px;
				    &:focus {
				    	outline:none;
				    }
	    		}
	    		.search_submit {
	    			padding: 7px 5px;
	    			width: 40px;
	    			background-color: #ff9100;
	    			border:1px solid #ff9100;
	    			color:#fff;
	    			&:hover {
	    				background-color: transparent;
	    			}
	    		}
    		}
    		.social_title {
    			font-size: 18px;
    			color:#a5a5a5;
    			text-align: center;
    		}
  				.footer_socials {
    				display: -webkit-flex;
    				display: -moz-flex;
    				display: -ms-flex;
    				display: -o-flex;
    				display: flex;
    				justify-content: center;
    				margin-bottom: 20px;
    				a {
    					display: flex;
    					align-items:center;
    					justify-content:center;
    					width: 30px;
    					height: 30px;
    					text-align: center;
    					color: #fff;
    					background: rgba(0, 0, 0, 0.5);
    					border-radius: 5px;
    					margin: 0 5px;
    					opacity: .7;
    					&:hover {
    						opacity: 1;
    						background-color: #ff9100;
    					}
    					img {
    						width: 20px;
    					}
    				}
    			}
    			.copyright-row {
    				background-color: #000;
    				margin-top: 25px;
    				p {
    					color: #888787;
					    padding: 10px 0;
					    width: 50%;
    				}
    			}
    			.scrollToTop {
    				display: flex;
    				justify-content:center;
    				align-items:center;
    				width: 35px;
    				height: 35px;
    				border-radius:4px;
    				background-color: #ff9100;
    				color:#fff;
    				position: fixed;
    				right: 3%;
    				bottom:5%;
    				font-size: 20px;
    				font-weight: bold;
    				z-index: 99;
    				&:before {
    					display: block;
    					font-family: fontAwesome;
    					content:'\f106';
    				}
    			}
		}


//PRODUCT CATEGORY STYLES
.product-category {
	.top__title--wrap {
		height: 50vh;
		background-image: url(../img/cat_first-bg.jpeg);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		display: flex;
	    align-items: center;
	    justify-content: center;
		&:before {
			display: block;
			content:'';
			background-color: rgba(0, 0, 0, 0.6);
			position: absolute;
			width: 100%;
			height: 100%;
		}
		h1 {
			color: #fff;
		    font-size: 36px;
		    position: relative;
		}
		.cat__menu--wrap {
			position: absolute;
			bottom:0;
			width: 100%;
			background-color: rgba(0, 0, 0, 0.6);
			padding: 10px 0;
			.cat__menu--list {
				display: flex;
				justify-content:center;
				.cat__menu--item {
					list-style-type: none;
					margin: 0 10px;
				}
				a {
					padding: 7px 11px;
					border:1px solid #fff;
					color:#fff;
					border-radius: 4px;
					&:hover {
						background-color: #000;
						color:#ff9100;
					}
				}
			}
		}
	}
	.product__item--wrap{
			background-image: url(../img/cat_bg.jpg);
			background-position: center;
			.cat__item--title {
				padding: 20px 0;
    			font-size: 28px;
			}
			.single__item--wrap {
				background-color: #fff;
				box-shadow: 0 5px 20px rgba(153, 148, 123, 0.46);
				color:#333;
				display: block;
				cursor:pointer;
				position: relative;
				margin-bottom: 25px;
				&:hover {    
					.dynamic__content--wrap {
						transform: translateY(-85.5%);
						max-height: 100%;
						.product--weight {
							opacity:1;
						}
					}
				}
				.product__thumb--wrap {
					height: 210px;
					overflow: hidden;
					img {
						height: 100%;
					}
				}
				.product__descr--wrap {
					min-height: 260px;
					.dynamic__content--wrap {
						background: rgba(255, 255, 255, 0.8);
						transition:.3s all ease-out;
						overflow:hidden;
						height:246px;
					}
					.product__cat--title {
						padding: 5px;
						color:#86766a;
						font-size: 18px;
						text-align: center;
						font-style: italic;
						position: relative;
						max-width: 80%;
    					margin: 0 auto;
						&:before {
							display: block;
							content: '';
						    position: absolute;
						    top: 50%;
						    left: 0;
						    width: 30%;
						    height: 1px;
						    background: #d7d1ce;
						}
						&:after {
							display: block;
							content: '';
						    position: absolute;
						    top: 50%;
						    right: 0;
						    width: 30%;
						    height: 1px;
						    background: #d7d1ce;
						}
					}
					.product--title {
						padding: 10px;
					    font-size: 20px;
					    font-weight: bold;
					    line-height: 1.3;
					    min-height: 55px;
					    }
						.product--weight {
							text-align: center;
							font-style: italic;
							color:#86766a;
							opacity:0;
						}
						.product--descr {
							padding: 10px;
    						text-align: justify;
    						font-size: 15px;
    						line-height: 1.5;
    						max-height: 125px;
    						overflow:hidden;
						}
						.static__content--wrap {
							position: absolute;
							bottom:0;
							width: 100%;
							height: 35%;
							background-color: #fff;
							display: flex;
						    flex-direction: column;
						    justify-content: space-around;
						    align-items: center;
							.product--price {
								text-align: center;
							    font-size: 24px;
							    font-style: italic;
								font-family: 'Yeseva One', cursive;
								display: block;
								color:#361b08;
								position: relative;
								width: 100%;
								max-width: 90%;
								margin: 0 auto;
								&:before {
								display: block;
								content: '';
							    position: absolute;
							    top: 50%;
							    left: 0;
							    width: 30%;
							    height: 1px;
							    background: #d7d1ce;
							    color:#361b08;
							}
							&:after {
								display: block;
								content: '';
							    position: absolute;
							    top: 50%;
							    right: 0;
							    width: 30%;
							    height: 1px;
							    background: #d7d1ce;
							    color:#361b08;
							}
							}
							.add__to--cart {
								padding: 20px 40px;
								color:#fff;
								box-shadow: inset 0 -1px 0 rgba(54, 27, 8, 0.2);
								border-radius: 30px;
								background-color: #ef4135;
								&:hover {
									background-color: #ea2719;
								}
							}
						}
				}
			}
	}
}

//BLOG STYLES
.category {
	.blog__top--baner {
		height: 50vh;
		display: flex;
		align-items: center;
		background-image: url(../img/blog_bg.jpeg);
		background-size: cover;
		background-position: center;
		position: relative;
		&:before {
			display: block;
			content:'';
			background-color: rgba(0, 0, 0, 0.6);
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.cat_title {
	      color:#fff;
	      font-size: 36px;
	      width: 100%;
	      text-align: center;
	      position: relative;
	    }
	}
	.articles_wrap {
    background-color: #212020;
    padding: 40px 0;
    .row {
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flex;
      display: -o-flex;
      display: flex;
      flex-wrap:wrap;
      max-height: 1200px;
    }
    .col-md-4 {
      min-height: 250px;
      height: 250px;
      margin-bottom: 20px;
      overflow: hidden;
      .article_item {
        height: 100%;
        width: 100%;
        transition: all .8s;
        position: relative;
        overflow:hidden;
        img {
        	position: absolute;
        	height: 100%;
        	width: 100%;
        }
        a {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          width: 100%;
          position: relative;
          &:before {
            display: block;
            content:'';
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,.625);
            transition:.8s all ;
            opacity:0;
            position: absolute;
          }
          .article_info_wrap {
                width: 60%;
                padding: 5px 10px;
                vertical-align: middle;
                margin: 0 auto;
                position: relative;
                z-index:10;
                background: rgba(255, 255, 255, 0.8);
            h4 {
            font-size: 16px;
            color:#000;
          }
            p {
              font-size: 14px;
              color:#000;
              line-height: 1.3;
            }
          }
          &:hover {
            text-decoration: none;
            &:before {
              opacity:1;
              transform: scale(.75);
            }
            .article_info_wrap {
              background: transparent;
              h4 {
              color:#fff;
            }
              p {
                color:#fff;
              }
            } 
          }
        }
      }
      &:first-child {
        height: 300px;
        width: 60%;
      }
      &:nth-child(2) {
        width: 40%;
        min-height: 300px;
      }
      &:nth-last-child(3) {
        height: 520px;
        margin-bottom: 0;
      }
      &:nth-last-child(2) {
        position: relative;
        bottom: 250px;
      }
      &:last-child {
         position: relative;
        bottom: 250px;
      }
      &:hover {
        .article_item {
          transform: scale(1.2);
        }
      }
    }
    .pagination {
      a {
        padding: 5px 10px;
        color:#fff;
        margin: 0 1px;
        &:hover {
          box-shadow: 0 0 1px 0;
          text-decoration: none;
        }
        &:focus {
          text-decoration: none;
        }
      }
      .current {
        box-shadow: 0 0 1px 0 #fff;
        color:#477dca;
        padding: 5px 10px;
      }
    }
  }
}

//SINGLE PAGE STYLES
.single {
	.article__top--banner {
		height: 50vh;
		background-image: url(../img/article_bg.jpg);
		background-size: cover;
		background-position: cover;
		position: relative;
		display: flex;
		align-items:center;
		&:before {
			display: block;
			content:'';
			background-color: rgba(0, 0, 0, 0.6);
			position: absolute;
			width: 100%;
			height: 100%;
		}
		.article--title {
	      color:#fff;
	      font-size: 36px;
	      width: 100%;
	      text-align: center;
	      position: relative;
	    }
	}
	.article--content {
		padding: 50px 0;
		p {
			line-height: 1.5;
		}
	}
	.relative--articles {
		padding-bottom: 50px;
		.relative_title {
		font-size: 20px;
    	margin: 20px 0;
    	&:after {
    		display: block;
    		content:'';
    		height: 2px;
    		background-color: #000;
    		width: 25%;
    	}
	}
	.col-md-4 {
		&:hover {
			.relative__item--wrap {
				box-shadow: 0 0 30px rgba(0,0,0,.2);
				.relative__thumb--wrap {
					img {
					-moz-transform: scale(1.1);
					-webkit-transform: scale(1.1);
					transform: scale(1.1);
					}
				}
				.relative__descr--wrap {
					transform: translateY(-40px);
				}
			}
		}
	}
	.relative__item--wrap {
		position: relative;
		overflow: hidden;
		display: block;
		.relative__thumb--wrap {
			img {
				transition:.3s all ease-out;
			}
		}
		.relative__descr--wrap {
			position: absolute;
			bottom:-40px;
			width: 100%;
			padding: 10px;
   			background: rgba(255, 255, 255, 0.7);
   			transition:.3s all ease-out;
   			a {
   				color:#000;
   			}
   			p {
   				font-size: 14px;
   				line-height: 1.3;
   			}
   			.to_article {
   				padding: 5px 10px;
			    background: transparent;
			    border: 1px solid #000;
			    float: right;
			    font-size: 15px;
   			}
		}
	}
	}
}

//CONTACT PAGE
.contacts {
	header {
		display: none;
	}
	.contact-wrapper {
		.contact-top {
			height: 90vh;
			background-image: url(../img/contact_bg.jpg);
			background-size: cover;
			background-position: center;
			background-attachment: fixed;
			position: relative;
		    display: flex;
		    align-items: flex-end;
		    h1 {
		    	margin: 0;
			    padding-left: 25%;
			    font-size: 75px;
			    font-weight: normal;
			    text-transform: uppercase;
			    color: #fff;
			    line-height: .7;
		    }
		    .contact-menu {
		    	position: fixed;
			    top: 30px;
			    left: 10px;
			    padding: 20px 0;
			    z-index: 2;
			    width: 213px;
			    background: rgba(51, 51, 51, 0.8);
			    p {
			    	font-size: 55px;
				    text-align: center;
				    text-transform: uppercase;
				    color: #fff;
			    }
			    .contact-menu-list {
			    	padding: 0;
			    	li {
			    		a {
			    			display: block;
						    padding: 5px 35px;
						    font-size: 18px;
						    text-transform: uppercase;
						    color: #fff;
						    transition:none;
			    		}
			    		&:hover {
			    			a {
			    				background: rgba(0, 0, 0, 0.6);
			    			}
			    		}
			    	}
			    }
		    }
		    .cont-menu_scroll {
		    	display: none;
		    }
		}
		.contact-inner {
			padding: 100px 0;
			.adress-block {
				display: flex;
    			flex-direction: column;
    			.contact-name {
    				font-size: 22px;
    			}
    			p {
    				font-size: 18px;
    				color:#000;
    				span {
    					display: block;
    					padding: 5px 0;
    				}
    				a {
    					color: #ff9100;
    					transition:none;
    					font-size: 16px;
    					&:hover {
    						color:#000;
    					}
    				}
    			}
    			.contact-adress {
    				color: #ff9100;
    				display: block;
    				position: relative;
    				&:before {
	    					display: block;
	    					font-family: fontAwesome;
	    					content:'\f041';
	    					position: absolute;
	    					left: -25px;
	    					color:#000;
	    					font-size: 20px;
	    				}
    			}
    			.phones_list_contacts {
    				padding: 0;
    				li {
    					list-style-type: none;
    					a {
    						display: block;
    						color: #000;
    						padding: 2px 0;
    						position: relative;
    						&:hover {
    							color: #ff9100;
    							&:before {
    								color:#000;
    							}
	    					}
	    					&:before {
	    					display: block;
	    					font-family: fontAwesome;
	    					content:'\f095';
	    					position: absolute;
	    					left: -25px;
	    					top:0;
	    					color:#ff9100;
	    					font-size: 20px;
	    				}
    					}
    				}
    			}
    			.email-contact {
    					display: inline-block;
    					position: relative;
    					color:#000;
    					&:before {
    						display: block;
						    font-family: fontAwesome;
						    content: "\f003";
						    position: absolute;
						    left: -25px;
						    color: #ff9100;
						    font-size: 20px;
    					}
    					&:hover {
    							color: #ff9100;
    							&:before {
    								color:#000;
    							}
	    					}
    			}
    			.social-share {
    				padding: 10px 0;
    				p {
    					font-size: 16px;
    					display: inline-block;
    					font-weight: bold;
    					padding-right: 5px;
    					position: relative;
    					&:before {
    						display: block;
						    font-family: fontAwesome;
						    content: "\f14d";
						    position: absolute;
						    left: -25px;
						    top:0;
						    color: #ff9100;
						    font-size: 20px;
    					}
    				}
    				a {
    					width: 25px;
    					height: 25px;
    					background-color: #ff9100;
    					display: inline-block;
    					padding: 3px;
    					border-radius:2px;
    					i {
    						display: flex;
						    height: 100%;
						    align-items: center;
						    justify-content: center;
						    font-size: 18px;
						    color:#fff;
    					}
    				}
    			}
			}
			.contact-form__wrap {
				form {
					display: flex;
				    flex-direction: column;
				    max-width: 350px;
				    margin: 0 auto;
				    span {
				    	margin-bottom: 15px;
				    	label {
				    		display: block;
				    		margin-bottom: 5px;
				    	}
				    	input {
				    		padding: 10px 5px;
    						width: 100%;
    						border-radius: 2px;
    						border: 1px solid #000;
    						&:focus {
    							outline:none;
    							border-color: #ff9100;
    						}
				    	}
				    	textarea {
				    		width: 100%;
				    		border: 1px solid #000;
				    		border-radius: 2px;
				    		padding: 5px;
				    		&:focus {
    							outline:none;
    							border-color: #ff9100;
    						}
				    	}
				    }
				    .submit {
				    	display: block;
					    height: 40px;
					    border: 0;
					    background: #ff9100;
					    color: #fff;
					    border-radius: 2px;
					    font-size: 18px;
					    border-bottom: 4px solid #c77406;
					    transition:none;
					    &:hover {
					    	border-bottom: 0;
					    }
				    }
				}
			}
		}
		.map-block {
			iframe {
				width: 100%;
    			height: 350px;
			}
		}
	}
}

@import "fonts/font_roboto";
